<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/Dashboard.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">Welcome</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/loginHistory">Login History</a>
                </li>
                <li class="nav-item">
                    <form id="signoutForm" action="/api/signout" method="POST">
                        <button type="submit" class="btn btn-link nav-link">Sign Out</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
    <!-- END: Navbar -->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 style="color: orange;">Dashboard</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <img src="/w:/Recent Courses/Web Development/Exam/Web Final/views/Images/AAST.png" alt="Image" style="width: 300px;">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 style="color: blue;">Add Department</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="addDepartmentForm" action="/api/adddepartment" method="POST">
                    <div class="form-group">
                        <label for="departmentName">Department Name:</label>
                        <input type="text" class="form-control" id="name" name="departmentName">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Department</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 style="color: blue;">Add User</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form id="addUserForm" action="/api/adduser" method="POST">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <label for="departmentId">Department ID:</label>
                        <input type="text" class="form-control" id="department" name="departmentId">
                    </div>
                    <button type="submit" class="btn btn-primary">Add User</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 style="color: blue;">Current Users</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table" id="employeeTable">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Password</th>
                            <th>Department</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% employees.forEach(employee => { %>
                        <tr>
                            <td><%= employee.username %></td>
                            <td><%= employee.password %></td>
                            <td><%= employee.department %></td>
                            <td>
                                <button class="btn btn-danger" data-employee-id="<%= employee.id %>">Delete</button>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3 style="color: blue;">All Departments</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table" id="departmentTable">
                    <thead>
                        <tr>
                            <th>Department ID</th>
                            <th>Department Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% departments.forEach(department => { %>
                        <tr>
                            <td><%= department.ID %></td>
                            <td><%= department.name %></td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Handle form submission for adding department
        $('#addDepartmentForm').submit(function(event) {
            event.preventDefault();
            var name = $('#name').val();
            $.ajax({
                url: '/api/addDepartment',
                type: 'POST',
                data: { name: name },
                success: function(response) {
                    if (response.success === true) {
                        // Update department table using jQuery
                        var department = response.department;
                        var departmentRow = '<tr><td>' + department.ID + '</td><td>' + department.name + '</td></tr>';
                        $('#departmentTable tbody').append(departmentRow);
                    } else {
                        alert('Error happened. Please try again later');
                    }
                },
                error: function() {
                    alert('Error happened. Please try again later');
                }
            });
        });

        // Handle form submission for adding employee
        $('#addUserForm').submit(function(event) {
            event.preventDefault();
            var username = $('#username').val();
            var password = $('#password').val();
            var department = $('#department').val();
            $.ajax({
                url: '/api/adduser',
                type: 'POST',
                data: { username: username, password: password, department: department },
                success: function(response) {
                    if (response.success === true) {
                        // Update employee table using jQuery
                        var employee = response.employee;
                        var employeeRow = '<tr><td>' + employee.username + '</td><td>' + employee.password + '</td><td>' + employee.department + '</td><td><button class="btn btn-danger" data-employee-id="' + employee.id + '">Delete</button></td></tr>';
                        $('#employeeTable tbody').append(employeeRow);
                    } else {
                        alert('Error happened. Please try again later');
                    }
                },
                error: function() {
                    alert('Error happened. Please try again later');
                }
            });
        });

        // Handle delete employee button click
        $(document).on('click', '.btn-danger', function() {
            var employeeId = $(this).data('data-employee-id');
            console.log(employeeId);
            $.ajax({
                url: '/api/deleteuser',
                type: 'POST',
                data: { userId: employeeId },
                success: function(response) {
                    if (response.success) {
                        // Update employee table using jQuery
                        $('#employeeTable tbody').find('button[data-employee-id="' + employeeId + '"]').closest('tr').remove();
                    } else {
                        alert('Error happened.i have an error in the delete button please fix it');
                    }
                },
                error: function() {
                    alert('Error happened. Please try again later');
                },
                dataType: 'json' // Add this line to parse the response as JSON
            });
        });
    </script>
</body>
</html>
